.block {
  display: flex;
}

.block > div {
  width: 33%;
  margin-right: 5%;
}

#content div,
#new-content div {
  margin-top: 20px;
}

.extension {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: #7e7e7e;
}

button {
  margin: 5px;
}